<Title Size="5">@Question.Headline</Title>
<br/>
<ListGroup Mode="ListGroupMode.Selectable">
    <ListGroupItem Color="Color.Light" Clicked="OnRealPicked">Real News</ListGroupItem>
    <ListGroupItem Color="Color.Light" Clicked="OnFakePicked">Fake News</ListGroupItem>
</ListGroup>

@code
{

    [Parameter] public HeadlineClosedQuestion Question { get; set; }
    [Parameter] public EventCallback<int> OnComplete { get; set; }

    private int Points { get; set; }

    private async void OnRealPicked()
    {
        Points = !Question.IsFake ? 100 : 0;
        await OnComplete.InvokeAsync(Points);
    }

    private async void OnFakePicked()
    {
        Points = Question.IsFake ? 100 : 0;
        await OnComplete.InvokeAsync(Points);
    }

}