<Title Size="5">@Question.Statement</Title>
<br/>
<ListGroup Mode="ListGroupMode.Selectable">
    <ListGroupItem Color="Color.Light" Clicked="OnFactPicked">Fact</ListGroupItem>
    <ListGroupItem Color="Color.Light" Clicked="OnOpinionPicked">Opinion</ListGroupItem>
</ListGroup>

@code
{

    [Parameter] public StatementQuestion Question { get; set; }
    [Parameter] public EventCallback<int> OnComplete { get; set; }

    private int Points { get; set; }

    private async void OnFactPicked()
    {
        Points = Question.IsFact ? 100 : 0;
        await OnComplete.InvokeAsync(Points);
    }

    private async void OnOpinionPicked()
    {
        Points = !Question.IsFact ? 100 : 0;
        await OnComplete.InvokeAsync(Points);
    }

}