<Title Size="5">@Question.Statement</Title>
<br/>
<ListGroup Mode="ListGroupMode.Selectable">
    <ListGroupItem Color="Color.Light" Clicked="OnFactPicked">Fact</ListGroupItem>
    <ListGroupItem Color="Color.Light" Clicked="OnOpinionPicked">Opinion</ListGroupItem>
</ListGroup>

@code
{

    [Parameter] public StatementQuestion Question { get; set; }
    [Parameter] public EventCallback<bool> OnComplete { get; set; }

    private async void OnFactPicked()
    {
        await OnComplete.InvokeAsync(Question.IsFact);
    }

    private async void OnOpinionPicked()
    {
        await OnComplete.InvokeAsync(!Question.IsFact);
    }

}