@page "/about"

<Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center">About</Heading>
<Divider/>
<MarkdownPanel Content="@MarkdownContent"/>
<Paragraph TextAlignment="TextAlignment.Center">
    <Button Color="Color.Secondary" Type="ButtonType.Link" To="">Back</Button>
</Paragraph>

@code
{

    [Inject] private HttpClient HttpClient { get; set; }

    private string MarkdownContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MarkdownContent = await HttpClient.GetStringAsync("data/about.md");
    }

}