@page "/complete"

@inject NavigationManager _navigationManager

<div style="text-align: center;">
    <h3>Congratulations!</h3>
    <p>
        You have successfully cleared this escape room! Thank you for playing!
    </p>
    <button class="btn btn-primary" @onclick="Back">Back</button>
</div>

@code
{

    private void Back()
    {

        _navigationManager.NavigateTo("");
    }

}
