@page "/complete"

<div style="position: absolute; text-align: center; top: 30vh; width: 100%;">
    <h3>Congrats!</h3>
    <p>
        You have successfully cleared this escape room! Thank you for playing!
    </p>
</div>