@page "/"

<Animate Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(2)">
    <Jumbotron Background="Background.Light" Padding="Padding.Is4">
        <JumbotronTitle Size="JumbotronTitleSize.Is4">FakerSpotter</JumbotronTitle>
        <JumbotronSubtitle>
            Please note that this is only a prototype, some features are not final and may experience major changes in the future.
        </JumbotronSubtitle>
        <Divider/>
        <Paragraph>
            It is recommended that you use a mobile (phone) device for a better experience.
        </Paragraph>
        <Buttons>
            <Button Color="Color.Primary" Type="ButtonType.Link" To="intro">Continue</Button>
            <Button Color="Color.Secondary" Type="ButtonType.Link" To="about">About</Button>
        </Buttons>
    </Jumbotron>
</Animate>