@inherits PageLayout
@page "/"

<div style="text-align: center;">
    <h3>FakeSpotter</h3>
    <p>
        Please note that this is only a prototype, some features are not
        final and may experience major changes in the future.
    </p>
    <button class="btn btn-primary" @onclick="Continue">Continue</button>
</div>

@code
{

    [Inject] private NavigationManager NavigationManager { get; set; }

    private void Continue()
    {
        if (UserSettings.IsRoomOneCompleted != true)
        {
            NavigationManager.NavigateTo("room1");
        }
        else if (UserSettings.IsRoomTwoCompleted != true)
        {
            NavigationManager.NavigateTo("room2");
        }
        else if (UserSettings.IsRoomThreeCompleted != true)
        {
            NavigationManager.NavigateTo("room3");
        }
        else if (UserSettings.IsRoomFourCompleted != true)
        {
            NavigationManager.NavigateTo("room4");
        }
        else if (UserSettings.IsRoomFiveCompleted != true)
        {
            NavigationManager.NavigateTo("room5");
        }
        else
        {
            NavigationManager.NavigateTo("finish");
        }
    }

}