@page "/"

<Jumbotron Background="Background.Light" Padding="Padding.Is4">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">FakerSpotter</JumbotronTitle>
    <JumbotronSubtitle>
        A cyberwellness digital toolkit for learning on how to protect yourself from fake news!
    </JumbotronSubtitle>
    <Divider/>
    <Paragraph>
        It is recommended that you use a wide screen for a better experience.
    </Paragraph>
    <Buttons>
        <Button Color="Color.Primary" Type="ButtonType.Link" To="intro">Start</Button>
        <Button Color="Color.Secondary" Type="ButtonType.Link" To="about">About</Button>
    </Buttons>
</Jumbotron>