@page "/"

@inject NavigationManager _navigationManager

<div style="text-align: center;">
    <h3>FakeSpotter (Prototype)</h3>
    <p>
        Please note that this is only a prototype, some features are not
        final and may experience major changes in the future.
    </p>
    <button class="btn btn-primary" @onclick="Begin">Begin</button>
</div>

@code
{

    private void Begin()
    {
        
        _navigationManager.NavigateTo("room/1");
    }

}