@page "/"

<Jumbotron Background="Background.Light" Padding="Padding.Is4">
    <JumbotronTitle Size="JumbotronTitleSize.Is4">FakerSpotter</JumbotronTitle>
    <JumbotronSubtitle>
        Please note that this is only a prototype, some features are not final and may experience major changes in the future.
    </JumbotronSubtitle>
    <Divider/>
    <Paragraph>
        <Button Color="Color.Primary" Clicked="Continue">Continue</Button>
    </Paragraph>
</Jumbotron>

@code
{

    [Inject] private NavigationManager NavigationManager { get; set; }

    private void Continue()
    {
        if (UserSettings.IsRoomOneCompleted != true)
        {
            NavigationManager.NavigateTo("room1");
        }
        else if (UserSettings.IsRoomTwoCompleted != true)
        {
            NavigationManager.NavigateTo("room2");
        }
        else if (UserSettings.IsRoomThreeCompleted != true)
        {
            NavigationManager.NavigateTo("room3");
        }
        else
        {
            NavigationManager.NavigateTo("finish");
        }
    }

}