@page "/leaderboards"

<div style="text-align: center;">
    <h3>Leaderboards</h3>
</div>

<Table Hoverable="true">
    <TableHeader>
        <TableRow>
            <TableHeaderCell>Points</TableHeaderCell>
            <TableHeaderCell>Name</TableHeaderCell>
            <TableHeaderCell>Position</TableHeaderCell>
        </TableRow>
    </TableHeader>
    <TableBody>
        <TableRow>
            <TableHeaderCell>1000</TableHeaderCell>
            <TableRowCell>Dennise (Example)</TableRowCell>
            <TableRowCell>Cyberwellness Arcane Champion</TableRowCell>
        </TableRow>
        <TableRow>
            <TableHeaderCell>871</TableHeaderCell>
            <TableRowCell>Yu Teck (Example)</TableRowCell>
            <TableRowCell>Cyberwellness Arcane Champion</TableRowCell>
        </TableRow>
        <TableRow>
            <TableHeaderCell>576</TableHeaderCell>
            <TableRowCell>Chester (Example)</TableRowCell>
            <TableRowCell>Cyberwellness Arcane Champion</TableRowCell>
        </TableRow>
        <TableRow>
            <TableHeaderCell>432</TableHeaderCell>
            <TableRowCell>Jia Wei (Example)</TableRowCell>
            <TableRowCell>Cyberwellness Arcane Champion</TableRowCell>
        </TableRow>
    </TableBody>
</Table>