@page "/leaderboards"

<Animate Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(2)">
    <Heading Size="HeadingSize.Is3" TextAlignment="TextAlignment.Center">Leaderboards</Heading>
    <Divider/>
    <Paragraph TextAlignment="TextAlignment.Center">The leaderboards is currently unavailable because database services are down. But here's an example of what it looks like.</Paragraph>
    <Table Hoverable="true">
        <TableHeader>
            <TableRow>
                <TableHeaderCell>Points</TableHeaderCell>
                <TableHeaderCell>Name</TableHeaderCell>
                <TableHeaderCell>Position</TableHeaderCell>
            </TableRow>
        </TableHeader>
        <TableBody>
            <TableRow>
                <TableHeaderCell>1001</TableHeaderCell>
                <TableRowCell>Dennise</TableRowCell>
                <TableRowCell>
                    <Image Source="assets/images/icon.png" Style="width: 24px;"/>
                    <Text VerticalAlignment="VerticalAlignment.Middle">
                        Cyberwellness Arcane Champion
                    </Text>
                </TableRowCell>
            </TableRow>
            <TableRow>
                <TableHeaderCell>871</TableHeaderCell>
                <TableRowCell>Syabil</TableRowCell>
                <TableRowCell>
                    <Image Source="assets/images/awards/champion.svg" Style="width: 24px;"/>
                    <Text VerticalAlignment="VerticalAlignment.Middle">
                        Cyberwellness Champion
                    </Text>
                </TableRowCell>
            </TableRow>
            <TableRow>
                <TableHeaderCell>686</TableHeaderCell>
                <TableRowCell>Harith</TableRowCell>
                <TableRowCell>
                    <Image Source="assets/images/awards/master.svg" Style="width: 24px;"/>
                    <Text VerticalAlignment="VerticalAlignment.Middle">
                        Cyberwellness Master
                    </Text>
                </TableRowCell>
            </TableRow>
            <TableRow>
                <TableHeaderCell>599</TableHeaderCell>
                <TableRowCell>Aqilah</TableRowCell>
                <TableRowCell>
                    <Image Source="assets/images/awards/apprentice.svg" Style="width: 24px;"/>
                    <Text VerticalAlignment="VerticalAlignment.Middle">
                        Cyberwellness Apprentice
                    </Text>
                </TableRowCell>
            </TableRow>
            <TableRow>
                <TableHeaderCell>432</TableHeaderCell>
                <TableRowCell>Amanda</TableRowCell>
                <TableRowCell>
                    <Image Source="assets/images/awards/apprentice.svg" Style="width: 24px;"/>
                    <Text VerticalAlignment="VerticalAlignment.Middle">
                        Cyberwellness Apprentice
                    </Text>
                </TableRowCell>
            </TableRow>
            <TableRow>
                <TableHeaderCell>372</TableHeaderCell>
                <TableRowCell>Mirza</TableRowCell>
                <TableRowCell>
                    <Image Source="assets/images/awards/novice.svg" Style="width: 24px;"/>
                    <Text VerticalAlignment="VerticalAlignment.Middle">
                        Cyberwellness Novice
                    </Text>
                </TableRowCell>
            </TableRow>
        </TableBody>
    </Table>
</Animate>