@page "/tutorial"

<Animate Animation="Animations.Fade" Duration="TimeSpan.FromSeconds(2)">
    <Title Size="3" TextAlignment="TextAlignment.Center">Tutorial</Title>
    <Divider/>
    <MarkdownPanel Content="@MarkdownContent"/>
    <Button Color="Color.Primary" Clicked="OnContinue">Play</Button>
</Animate>

@code
{

    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private HttpClient HttpClient { get; set; }

    private string MarkdownContent { get; set; }

    protected override async Task OnInitializedAsync()
    {
        MarkdownContent = await HttpClient.GetStringAsync("data/tutorial.md");
    }

    private void OnContinue()
    {
        if (UserSettings.IsRoomOneCompleted != true)
        {
            NavigationManager.NavigateTo("room1");
        }
        else if (UserSettings.IsRoomTwoCompleted != true)
        {
            NavigationManager.NavigateTo("room2");
        }
        else if (UserSettings.IsRoomThreeCompleted != true)
        {
            NavigationManager.NavigateTo("room3");
        }
        else
        {
            NavigationManager.NavigateTo("finish");
        }
    }

}