root = true

[*]

charset = utf-8
indent_style = space
indent_size = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = false

# ReSharper

resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_inside_namespace = 1
resharper_blank_lines_inside_type = 1
resharper_indent_preprocessor_if = usual_indent
resharper_indent_preprocessor_other = usual_indent
resharper_keep_existing_arrangement = true
resharper_space_before_self_closing = false
resharper_xmldoc_blank_line_after_pi = false
resharper_xmldoc_wrap_lines = false
resharper_xml_blank_line_after_pi = false
resharper_xml_wrap_lines = false