@if (ShowEnd)
{
    @if (Points > 0)
    {
        <h5>+@Points</h5>
    }
    else if (Points < 0)
    {
        <h5>-@Points</h5>
    }
    else
    {
        <h5>0</h5>
    }
}
else
{
    <Field>
        <FieldLabel>@Question.Headline</FieldLabel>
        <ListGroup Mode="ListGroupMode.Selectable">
            <ListGroupItem Clicked="PickRealNews">Real News</ListGroupItem>
            <ListGroupItem Clicked="PickFakeNews">Fake News</ListGroupItem>
        </ListGroup>
    </Field>
}

@code
{

    [Parameter] public HeadlineClosedQuestion Question { get; init; }
    [Parameter] public EventCallback<int> OnComplete { get; set; }

    private int Points { get; set; }
    private bool ShowEnd { get; set; }

    protected override bool ShouldRender()
    {
        return Question != null;
    }

    private async void PickRealNews()
    {
        if (!Question.IsFake)
            Points += 100;
        ShowEnd = true;
        await OnComplete.InvokeAsync(Points);
    }

    private async void PickFakeNews()
    {
        if (Question.IsFake)
            Points += 100;
        ShowEnd = true;
        await OnComplete.InvokeAsync(Points);
    }

}