<Title Size="5">@Question.Headline</Title>

<br/>

<ListGroup Mode="ListGroupMode.Selectable">
    <ListGroupItem Color="Color.Light" Clicked="OnRealPicked">Real News</ListGroupItem>
    <ListGroupItem Color="Color.Light" Clicked="OnFakePicked">Fake News</ListGroupItem>
</ListGroup>

@code
{

    [Parameter] public HeadlineClosedQuestion Question { get; init; }
    [Parameter] public EventCallback<int> OnComplete { get; set; }

    private int Points { get; set; }

    private async void OnRealPicked()
    {
        if (!Question.IsFake)
            Points += 100;
        await OnComplete.InvokeAsync(Points);
    }

    private async void OnFakePicked()
    {
        if (Question.IsFake)
            Points += 100;
        await OnComplete.InvokeAsync(Points);
    }

}