@inherits LayoutComponentBase

<Layout>
    <LayoutHeader>
        <nav class="bg-light navbar navbar-light">
            <div class="container">
                <a class="navbar-brand" href="">
                    <img src="assets/images/icon.png" width="32"/>
                    <span class="align-middle">FakerSpotter</span>
                </a>
                <a class="d-flex" href="leaderboards">Leaderboards</a>
            </div>
        </nav>
    </LayoutHeader>
    <LayoutContent>
        <div class="container">
            <div class="row p-1">
                <Steps SelectedStep="SelectedStep" SelectedStepChanged="() => SelectedStep = null">
                    <Items>
                        <Step Name="start" Color="Color.Primary" Completed="true">
                            <Marker>
                                <Icon Name="IconName.Home"/>
                            </Marker>
                            <Caption>
                                Start
                            </Caption>
                        </Step>
                        <Step Name="room1" Index="1" Color="Color.Success" Completed="UserSettings.IsRoomOneCompleted">Room 1</Step>
                        <Step Name="room2" Index="2" Color="Color.Success" Completed="UserSettings.IsRoomTwoCompleted">Room 2</Step>
                        <Step Name="room3" Index="3" Color="Color.Warning" Completed="UserSettings.IsRoomThreeCompleted">Room 3</Step>
                        <Step Name="room4" Index="4" Color="Color.Danger" Completed="UserSettings.IsRoomFourCompleted">Room 4</Step>
                        <Step Name="room5" Index="5" Color="Color.Danger" Completed="UserSettings.IsRoomFiveCompleted">Room 5</Step>
                        <Step Name="finish" Color="Color.Primary" Completed="UserSettings.IsRoomOneCompleted && UserSettings.IsRoomTwoCompleted && UserSettings.IsRoomThreeCompleted && UserSettings.IsRoomFourCompleted && UserSettings.IsRoomFiveCompleted">
                            <Marker>
                                <Icon Name="IconName.Flag"/>
                            </Marker>
                            <Caption>
                                Finish
                            </Caption>
                        </Step>
                    </Items>
                    <Content>
                        <!-- empty -->
                    </Content>
                </Steps>
            </div>
            <div class="row">
                <div class="col">
                    <!-- empty -->
                </div>
                <div class="col-10 p-2">
                    <div>
                        @Body
                    </div>
                </div>
                <div class="col">
                    <!-- empty -->
                </div>
            </div>
        </div>
    </LayoutContent>
</Layout>

@code
{

    [Inject] private ISyncLocalStorageService LocalStorage { get; set; }

    private string SelectedStep { get; set; }

    protected override void OnInitialized()
    {
        UserSettings.LocalStorage ??= LocalStorage;
    }

}