@page "/room2"

<RoomPanel RoomName="Room 2: Fact or Opinion?" IsCompleted="UserSettings.IsRoomTwoCompleted" IsLocked="!UserSettings.IsRoomOneCompleted" NextRoomEndpoint="room3" PreviousRoomEndpoint="room1">
    <RoomContent>
        This room is currently incomplete, you may proceed to the next room
        <Button Color="Color.Primary" Clicked="Continue">Continue</Button>
    </RoomContent>
</RoomPanel>

@code
{

    [Inject] private NavigationManager NavigationManager { get; set; }

    private void Continue()
    {
        UserSettings.IsRoomTwoCompleted = true;
        NavigationManager.NavigateTo("room3");
    }

}