@page "/room3"

<RoomPanel RoomName="Room 3: Spot the fake news!" IsCompleted="UserSettings.IsRoomThreeCompleted" IsLocked="!UserSettings.IsRoomTwoCompleted" NextRoomEndpoint="finish" PreviousRoomEndpoint="room2">
    <RoomContent>
        <Paragraph>
            This room is currently incomplete, you may proceed to the next room.
        </Paragraph>
        <Button Color="Color.Primary" Clicked="OnContinue">Continue</Button>
    </RoomContent>
</RoomPanel>

@code
{

    [Inject] private NavigationManager NavigationManager { get; set; }

    private void OnContinue()
    {
        UserSettings.IsRoomThreeCompleted = true;
        NavigationManager.NavigateTo("finish");
    }

}