@page "/room1"

<RoomPanel RoomName="Room 1: Is it a fact or a opinion?" IsCompleted="UserSettings.IsRoomOneCompleted" NextRoomEndpoint="room2">
    <RoomContent>
        <Paragraph>
            This room is currently incomplete, you may proceed to the next room.
        </Paragraph>
        <Button Color="Color.Primary" Clicked="OnContinue">Continue</Button>
    </RoomContent>
</RoomPanel>

@code
{

    [Inject] private NavigationManager NavigationManager { get; set; }

    private void OnContinue()
    {
        UserSettings.IsRoomOneCompleted = true;
        NavigationManager.NavigateTo("room2");
    }

}