@page "/room3"

<RoomPanel RoomName="Room 3: Spot the Fake News!" IsCompleted="UserSettings.IsRoomThreeCompleted" IsLocked="!UserSettings.IsRoomTwoCompleted" NextRoomEndpoint="finish" PreviousRoomEndpoint="room2">
    <RoomContent>
        This room is currently incomplete, you may proceed to the next room
        <Button Color="Color.Primary" Clicked="Continue">Continue</Button>
    </RoomContent>
</RoomPanel>

@code
{

    [Inject] private NavigationManager NavigationManager { get; set; }

    private void Continue()
    {
        UserSettings.IsRoomThreeCompleted = true;
        NavigationManager.NavigateTo("finish");
    }

}