@page "/room/2"

<h3>Room 2 - Q&amp;A</h3>

<p>
    This is just a placeholder for the actual room.
</p>

<button class="btn btn-primary" @onclick="NextRoom">Next</button>

@code
{

    [Inject] private NavigationManager NavigationManager { get; set; }
    [Inject] private ISyncLocalStorageService LocalStorage { get; set; }

    protected override void OnInitialized()
    {
        UserSettings.LocalStorage ??= LocalStorage;
    }

    private void NextRoom()
    {
        UserSettings.IsRoomTwoCompleted = true;
        NavigationManager.NavigateTo("room/3");
    }

}