@page "/room/2"

@inject NavigationManager _navigationManager

<h3>Room 2 - Q&amp;A</h3>

<p>
    This is just a placeholder for the actual room.
</p>

<button class="btn btn-primary" @onclick="NextRoom">Next</button>

@code
{

    private void NextRoom()
    {
        _navigationManager.NavigateTo("room/3");
    }

}