@page "/room/4"

@inject NavigationManager navigationManager

<div style="position: absolute; text-align: center; top: 30vh; width: 100%;">
    <h3>Room 4 - Spot the fake news!</h3>
    <p>
        This is just a placeholder for the actual room.
    </p>
    <button class="btn btn-primary" @onclick="NextRoom">Next</button>
</div>

@code
{

    private void NextRoom()
    {
        navigationManager.NavigateTo(navigationManager.BaseUri + "room/5");
    }

}