@page "/room5"

<RoomPanel RoomName="Room 5" IsCompleted="UserSettings.IsRoomFiveCompleted" IsLocked="!UserSettings.IsRoomFourCompleted" NextRoomEndpoint="finish" PreviousRoomEndpoint="room4">
    <RoomContent>
        This room is currently incomplete, you may proceed to the next room
        <Button Color="Color.Primary" Clicked="Continue">Continue</Button>
    </RoomContent>
</RoomPanel>

@code
{

    [Inject] private NavigationManager NavigationManager { get; set; }

    private void Continue()
    {
        UserSettings.IsRoomFiveCompleted = true;
        NavigationManager.NavigateTo("finish");
    }

}