@page "/room/3"

@inject NavigationManager _navigationManager

<h3>Room 3 - Spot the fake news!</h3>

<p>
    This is just a placeholder for the actual room.
</p>

<button class="btn btn-primary" @onclick="NextRoom">Next</button>

@code
{

    private void NextRoom()
    {
        _navigationManager.NavigateTo("room/4");
    }

}