@inherits PageLayout
@page "/room/4"

<h3>Room 4 - Spot the fake news!</h3>

<p>
    This is just a placeholder for the actual room.
</p>

<button class="btn btn-primary" @onclick="NextRoom">Next</button>

@code
{

    [Inject] private NavigationManager NavigationManager { get; set; }

    private void NextRoom()
    {
        UserSettings.IsRoomFourCompleted = true;
        NavigationManager.NavigateTo("room/5");
    }

}